.input-box .icon-standort{
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 16px;
}
.standortpage{
    align-items:center;
    display: inline-flex;
    gap: 30px;
}

.map .leaflet-container{
    width: 50rem;
}